// Base css
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1 rem = 10 px
}

body {
	font-family: sans-serif;
	color: var(--color-primary);
	background-color: var(--color-background);
	font-weight: 300;
	line-height: 1.6;
	font-size: 1.5rem;
}
